.nOTIFICATIONS{
    height: 81.7vh;
    display: flex;
    .container{
        background-color: rgb(222, 163, 163);
        width: 400px;
        height: 81.7vh;
        overflow: hidden;
        overflow-y: auto;
        .element{
            height: 300px;
            background-color: aqua;
            margin-bottom: 20px;
            border-radius: 30px;
        }
    }
    .rcontainer{
        margin-left: 20px;
        
    }
}